.radio-button {
  &:not(:first-child) > span {
    border-left: none;
  }

  span {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &:first-child > span {
    border-radius: 2px 0 0 2px;
  }

  &:last-child > span {
    opacity: 0.2;
  }

  &:nth-child(3) > span {
    border-radius: 0 2px 2px 0;
  }

  &__input {
    display: none;

    &:checked + span {
      color: #fff;
      background-color: #1890ff;
      border: none;
    }

    &:disabled + span {
      background-color: #f5f5f5;
      cursor: not-allowed;
    }
  }

  &__custom {
    font-size: 14px;
    line-height: 24px;
    width: 72px;
    height: 40px;
    border: 1px solid #d9d9d9;
    cursor: pointer;
    display: inline-block;
  }
}
