.header {
  background-color: #fff;
  padding: 22px 24px;
  margin-bottom: 12px;

  display: flex;
  align-items: center;

  h1 {
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
  }

  &__backButton {
    width: 16.25px;
    height: 16px;

    margin-right: 16px;
    background-color: transparent;
    border: none;
    cursor: pointer;

    & img {
      width: 100%;
    }
  }
}
