@use "../../styles/mixins.scss" as mixins;

.recipe {
  width: 100%;
  //   display: flex;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;

  &__info,
  &__image {
    flex-basis: 50%;
  }

  &__info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
  }

  &__details,
  &__cooking {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  & .details {
    &__block {
      border: 1px solid #f0f0f0;
      border-radius: 2px;
      display: flex;
      flex-direction: column;

      &:last-child {
        flex-grow: 1;
      }
    }
    &__title {
      background-color: #fff;
      color: rgba(0, 0, 0, 0.85);

      padding: 16px 24px;
      font-size: 16px;
      line-height: 24px;
      font-weight: 500;

      border-bottom: 1px solid #f0f0f0;
      border-radius: 2px 2px 0 0;
    }

    &__info {
      background-color: #fff;
      border-top: none;
      padding: 24px;
      border-radius: 0 0 2px 2px;

      flex-grow: 1;

      &_cuisine {
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
      }

      &_tags {
        font-size: 14px;
        line-height: 22px;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.45);
      }

      &_servings {
        font-size: 20px;
        line-height: 24px;
        font-weight: 700;
      }

      &_descr {
        font-size: 14px;
        line-height: normal;
        color: rgba(0, 0, 0, 0.45);
      }
      &_instructions {
        font-size: 14px;
        line-height: 22px;
      }
    }
    & .ant-steps.ant-steps-vertical > .ant-steps-item .ant-steps-item-title {
      font-size: 14px;
      line-height: 22px;
      color: rgba(0, 0, 0, 0.85);
    }
    .kcal {
      &__info {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 8px;
      }
      &__weight {
        font-size: 16px;
        line-height: 22px;
        color: rgba(0, 0, 0, 0.45);
      }
    }
  }

  &__image {
    height: 852px;
    overflow: hidden;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.change-recipe-buttons {
  position: absolute;
  bottom: 12px;
  left: 0;
  right: 0;
  width: 72px;
  margin: 0 auto;
  display: flex;
  gap: 8px;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 2px;

    &.disabled {
      cursor: not-allowed;
      pointer-events: none;
      & svg path {
        fill: #d9d9d9;
        fill-opacity: 1;
      }
    }
    img {
      width: 12px;
      height: 12px;
    }
  }
}
